:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  /* Colors */
  --color-pale: #ffebcd;
  --color-orange: #f79413;

  --color-beige: #b9a89b;

  /* Backgrounds */
  --color-pulse: linear-gradient(90deg, #ff785a 0%, #fbbf52 30%, #b6d88b 85%);
}

@import "tailwindcss";
